body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* Header */

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

header {
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

/* Navigation */

nav {
  display: block;
  text-align: right;
  flex-grow: 1;
}

a {
  color: seashell;
  padding-right: 15px;
}

/* Main Content Container */

.main {
  width: 1200px;
  margin: auto;
}

/* Mission Section */

#mission {
  height: 700px;
  background-image: url("../../resources/images/img-mission-background.jpg");
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Store Section */

#store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

/* Locations */

#locations {
  width: auto;
  height: 500px;
  margin: auto;
  background-image: url("../../resources/images/img-locations-background.jpg");
  padding-top: 70px;
}

.location {
  background: black;
  width: 300px;
  margin-top: 15px;
  margin-right: 40px;
  opacity: 1;
}

/* Contact */

#contact {
  height: 200px;
  width: auto;
}

/* Footer */

footer {
  margin-left: 20px;
  text-align: left;
}
